[2018-11-13 02:11] dai-shi opened #1 "observedBits 32bit limitation"
Discussion from https://link.medium.com/gXvqudhDNR

[2018-11-13 02:21] dai-shi commented on #1
Option 1: we rotate the index. `% 31`
Option 2: we use multiple contexts for each 31 items.
Option 3: multiple contexts for each items. Do not rely on `observedBits`

[2018-11-13 12:42] tamethecomplex commented on #1
Assuming you abstract the implementation away from the user, I guess the decision criteria are (?)

1. Potential high overhead or general “misuse” of the react context feature if potentially hundreds of contexts are created as with option #3
2. Rendering efficiency of the app to the extent that with #1, some components will undesirably  receive a state change when an overlapping index has changed

[2018-11-14 11:53] dai-shi commented on #1
Thanks. I'm not sure either how much overhead creating hundreds of contexts leads.
Another concern is whether `observedBits` will ever be official...

BTW, https://github.com/dai-shi/react-context-global-state is already taking the Option 3 approach.

[2018-11-15 16:53] tamethecomplex commented on #1
Yeah, that's exactly what I had in mind for useMemo.

[2018-11-15 22:54] dai-shi commented on #1
Option 4: we pass non-updating "store" in the context, and let hooks subscribe for key-based changes. This is mostly like the previous implementation which requires `useState`.

[2018-11-17 13:02] dai-shi commented on #1
Turns out that the current implementation already takes the option 1 approach.
I keep it as is, otherwise the library implementation gets much bigger.
This limitation should be clearly noted in README.md.

[2018-11-17 13:06] #1 closed

[2018-12-03 10:50] pongsatt opened #2 "Dispatch inside useEffect does not update state the first time"
**Problem**: global state does not update when dispatch from inside useEffect the first time.

_Example:_
[code]

When "**loadInitialCount()**" is called the first time, "Loading..." won't show up. But it's shown when click "reload" button.

I found that this is because "GlobalStateProvider" registers listener inside "useEffect" which is called after "useEffect" of "ItemList" component . So the "l

[2018-12-03 11:39] dai-shi commented on #2
@pongsatt Good catch! I confirmed the issue.

[2018-12-03 11:58] #2 closed

[2018-12-03 12:01] dai-shi commented on #2
@pongsatt Published v0.4.0. Thanks for reporting!

[2018-12-13 12:45] ivan-kleshnin opened #3 "API design question"
Hello Daishi. Trying to wrap my head around your library.

I'm curious why did you design the reducer API like this:

[code]

and not like this:

[code]

I'm not sure about all pros & cons, except that the second one looks more similar to basic `setState` option (which is a plus). Will appreciate your clarification.

[2018-12-13 13:44] dai-shi commented on #3
Hi!
This is not exhaustive pros and cons, but let me explain.

If we go with the first API design, the `dispatch` is globally available in a file and you can define action functions outside of components. You can even define them in a separate file and import them. We don't need `mapDispatchToProps` technique like in react-redux.

[code]

Not much different if use `button` here, but suppose we use

[2018-12-14 07:03] ivan-kleshnin commented on #3
Great explanation, man. Honestly, I never used Redux (more than for a few demo cases), but your explanations make sense to me. Thank you!

One more topic I'd like to discuss, if you don't mind:

#### Dispatch vs Update

Comparing dispatch and update-based approaches...

With the following:

[code]

we have pieces of logic incapsulated in JSX. They may be small enough to ignore or large enough to w

[2018-12-14 08:18] dai-shi commented on #3
In general, if you would like to follow "action-abstraction (mappers)", I'd suggest to use `dispatch`.

So, I'd use `dispatch` in this scenario, but still you could use `update`. In this case, I would do like the following.

[code]

You may not like this approach, though. Hm, maybe I wouldn't take this approach either.

Another option: `<button onClick={applyAction(update, actions.increment)}>`

A

[2018-12-14 10:52] ivan-kleshnin commented on #3
Hmm, I have to disagree here. In my opinion state changing logic should be as simple and straigtforward as possible. A function or an object of functions are fine. Reducer is already slightly overcomplicated and I don't see other benefit than a) being more familiar for Redux users b) being easier to log what's going on. Component is an overkill i.m.o. To test a component you need a fake DOM (an in

[2018-12-14 23:47] dai-shi commented on #3
Fair enough. Testing pure functions is always easier.

I see what you mean. I think we need arguments for the returning function.
What's good about hooks is that you can extend them by yourself based on primitives.

[code]

[2018-12-15 08:44] ivan-kleshnin commented on #3
True story 👍 Gonna experiment with that.

Do you plan to go in the direction of lensing:

[code]

And yes, your examples are great! Gonna give this library a serious trial :)

[2018-12-15 22:06] dai-shi commented on #3
This library is pretty much optimized for top-level selector (by `observedBits` and type inference).
My recommendation for deep property value selection is something like that in `examples/11_deep`.

Nevertheless, you could build deep selector based on primitives.
A naive implementation to get a deep value would be:

[code]

(You need `update` too for real lensing.)

[2019-01-24 14:26] CupCakeArmy opened #4 "Ideas on persistence"
First off: awesome library! No deps, simple, clean, love it! ❤️

Are there any ideas for persistence?
Right now I'm doing this and it works pretty good 💪

[code]

Maybe one could do a small github wiki entry and link it in the README.
Any thoughts/ideas?

[2019-01-24 15:03] dai-shi commented on #4
Hey, thanks!

I haven't thought much about persistence. It may take some time for me to think about how persistence support should be for `createGlobalState`.
As for `createStore`, technically you can use Redux-style middleware, and it's probably better to do so instead of having side effects in a reducer. I'll make an example later, but meanwhile you can try that too.

That sounds like a nice ide

[2019-01-24 18:42] CupCakeArmy commented on #4
Yes, keeping it small is a good idea.

Simply the [repository wiki](https://guides.github.com/features/wikis/#creating-your-wiki) and add the link to the `README.md`  🙂

[2019-01-25 15:43] dai-shi commented on #4
@CupCakeArmy
The wiki is set up. Free free to edit it.
I will add the link once we have several contents.

[2019-01-26 18:11] #4 closed

[2019-02-07 16:40] AndiF opened #5 "React 16.8.1 causing useContext error log"
With React 16.8.1 I noticed the following error log:
`Warning: useContext() second argument is reserved for future use in React. Passing it is not supported.`

I am not sure about the intention of the 2nd parameter here:
const state = useContext(context, 1 << index);
but I guess it can simply be removed ?

[2019-02-07 20:11] malerba118 commented on #5
Also encountering this

[2019-02-07 21:38] dai-shi commented on #5
This is called `observedBits` which is undocumented and unstable.

Let's say we have a state like: `{ counter1: 0, counter2: 0 }` and we `useGlobalState('counter1')` in a component "A". We want to avoid rendering A when only counter2 is updated, and that's how `observedBits` is currently used. It is supposed to be super efficient.

Now, since React 16.8 clearly warns the use of this, I'm wondering

[2019-02-07 21:49] dai-shi commented on #5
https://github.com/facebook/react/pull/14729#issuecomment-461279892
This is exactly the same here. Cc @gaearon @benwiley4000

[2019-02-08 03:30] jacob-ebey commented on #3
You can accomplish global reducers/state without relying on the Context API or "global" dispatch functions:

https://github.com/jacob-ebey/react-hook-utils

[2019-02-08 03:52] dai-shi commented on #3
@jacob-ebey Yeah, my original motivation and implementation was also eliminating context, and then eventually I came back to use context which seems to work better in concurrent mode in the future. I also wanted to make use of `observedBits` for performance.

[2019-02-08 05:56] jacob-ebey commented on #3
Can you elaborate on what works better in concurrent mode?

[2019-02-08 06:50] dai-shi commented on #3
The concurrent mode is still not fixed (it will change), and there could still be something I misunderstand. Anyway, here's a reference:
https://blog.isquaredsoftware.com/2018/11/react-redux-history-implementation/

There is only one store subscriber: the <Provider> component
This has all kinds of ripple effects across the implementation.

(This then turned out to be too early as there's not yet a

[2019-02-08 21:09] jacob-ebey commented on #3
Thanks for the link. Does "tearing" here refer to the visual representation of the vdom being out of sync current tree?

[2019-02-08 23:04] dai-shi commented on #3
I too am not sure, but probably it's about different parts in the single vdom tree.

You can learn some more about it [here](https://github.com/facebook/react/tree/master/packages/create-subscription). I think I follow the technique described there for my [other library](https://github.com/dai-shi/react-hooks-easy-redux) that uses subscriptions. I can't say for sure as the description is not very

[2019-02-09 11:35] schneck opened #6 "Initialize with null"
Hi,
a question: I would like to initialize a value with `null`, something like

[code]

[code]

I get an error:

[code]

Is there any workaround?

Thanks!

[2019-02-09 11:50] dai-shi commented on #6
In this case, you probably need to add a type in createGlobalState. (as the useGlobalState type is inferred from it.)

[code]

[2019-02-09 12:31] schneck commented on #6
Thanks, got it working that way.

[2019-02-09 12:31] #6 closed

[2019-02-11 00:12] gaearon commented on #5
https://github.com/facebook/react/issues/14815#issuecomment-462194923

[2019-02-11 02:12] dai-shi commented on #5
Ben and Dan, thanks so much! I will look into it.

[2019-02-11 03:30] #5 closed

[2019-02-11 03:33] dai-shi commented on #5
Published v0.7.0.

[2019-03-16 08:16] jarlah opened #7 "create-react-app --typescript doesn't like react-hooks-global-state/src/devtools"
Hi

I was just making a very simple store with some thunk, logger and devtools middleware.

When I run the app, all is fine. When I run tests with the devtools middleware I get:

[code]
I have fixed it by simply not adding the devtools if I am in NODE_ENV test.

But do you think its solvable, to make it compliant with create-react-app jest test environment?

[2019-03-16 08:24] jarlah opened #8 "Great work! And some comments/tips"
I really like how almost identical it is to redux, and how it enables me early access to some of the things that might trickle down into react-redux. I don't like however that initial state is required.

I use typesafe-actions for mostly everything. And I use initial state in my reducers and have never depended on providing initial state on the top level where I combine the reducers. I mean, how s

[2019-03-16 08:55] dai-shi commented on #7
Hi, thanks for reporting. Could you try importing `react-hooks-global-state/dist/devtools` and see if it makes any difference?

[2019-03-16 09:04] jarlah commented on #7
it works :)
[code]
but I needed to wrap with ts ignore, since it complains that there is no declaration for it.
but otherwise, my tests passed :)

[2019-03-16 09:37] dai-shi commented on #7
Ah, I see. The ts-ignore is not very nice, though. Let me see what I can do...

[2019-03-16 12:56] #7 closed

[2019-03-16 12:57] dai-shi commented on #7
This should probably fixes the typing issue.

[2019-03-16 13:12] dai-shi commented on #7
Published: https://www.npmjs.com/package/react-hooks-global-state/v/0.8.0
This also includes changes in #9.

[2019-03-16 15:53] jarlah commented on #8
@dai-shi about the optional initialState, i saw you reverted the initialState?: S fix which in effect makes it impossible to pass in undefined as initialState. So I cant use 0.8.0, with support for optional initialState, before that is fixed.. (if not using ts-ignore)

[2019-03-16 16:07] dai-shi commented on #8
What is the type definition of your reducer?
Is it like `const reducer = (state: State | undefined, action: Action) => {` ?

[2019-03-16 16:13] jarlah commented on #8
my reducer is like
https://github.com/freeacs/freeacs-web/blob/master/src/modules/search.ts#L21
and my store is like this now:
https://github.com/freeacs/freeacs-web/blob/master/src/state/store.ts#L14

the project is just a playground atm, trying this framework for a new project

[2019-03-16 16:20] dai-shi commented on #8
I see...

[2019-03-16 16:29] dai-shi commented on #8
e554df6 How does this work for you?
I can't make it an optional parameter like `initialState?:`, but `| undefined` seems to work.

[2019-03-16 16:36] jarlah commented on #8
For some reason, it didnt work. but i manipulated the file and this works:
[code]

[2019-03-16 16:38] jarlah commented on #8
For some reason it didnt work. I see why you think it should work, but typescript is a dumbass sometimes. I manipulated the file locally, and got it working with this:
[code]

[2019-03-16 16:38] dai-shi commented on #8
[code]
However, this is not a correct type. `reducer` must accept `undefined` for the first argument.

[2019-03-16 16:40] jarlah commented on #8
ah yes, I see now. i will take a look at it myself too now

[2019-03-16 16:43] dai-shi commented on #8
If it's a typescript issue, can you try this?
[code]

(I think `undefined as any` can be just `undefined`.)

[2019-03-16 16:46] jarlah commented on #8
got it working with this:
[code]

[2019-03-16 16:46] jarlah commented on #8
e.g. no types to CreateReduxLikeStore.. and it works as expected.

[2019-03-16 16:49] jarlah commented on #8
i am willing to use this hack, its only one place in every codebase. and if you want initialstate required by default, then we can have this special type as an expert alternative? what do you think? should we try to remove cast?

[2019-03-16 16:50] jarlah commented on #8
btw i cant set initialState in reducer to XXX | undefined. So i didnt do that. but it works without that now with the cast above.

[2019-03-16 16:52] jarlah commented on #8
Ooh ... and i have confirmed btw that the library does what its supposed to :) made two sibling components with different substate subscriptions. and they do logically not cause the other component to update when dispatching an action that should only affect the one. just needed to test it, since its a basic assumption/requirement.

[2019-03-16 18:08] jarlah commented on #8
@dai-shi ready for a bit more complicated challenge? if i type the store correctly my dispatch have Dispatch<RootActions> .. if i add a RootThunkAction to RootActions typescript fails to compile naturally, because dispatch is Dispatch<A> where A extends AnyAction, which has a type. Thunks have no type ;) i wonder, maybe i should make a custom middleware that allows me send in { type: 'yada', thunk

[2019-03-16 19:21] jarlah commented on #8
@dai-shi about createStore, end of discussion solution follow:
[code]
done. did it. fixed it :P

[2019-03-16 20:29] jarlah commented on #8
I have added a PR with a suggestion on how to fix the typescript problems

#10

[2019-03-17 01:34] dai-shi commented on #8
How do you like this pattern? You don't have to change your reducer.
[code]

[2019-03-17 07:57] jarlah commented on #8
didnt work, but ill use function cast :) :+1: If you can release the current state I am totally happy.

But should we/you document this? The option to cast the createStore function?

[2019-03-17 09:07] jarlah commented on #8
Oh, and btw. Redux Thunk is totally useless with hooks. If you have a use case for a thunk, you have a use case for a custom hook. So I made myself a reusable custom hook that replaces the need for a thunk:

[code]
so problems with `dispatch(searchThunk(term) as any)` is not relevant for me any more. Its impossible add a thunk type to RootActions because a thunk doesn't have type. So, out of the w

[2019-03-17 10:39] dai-shi commented on #8
@jarlah Would you like to write a wiki about the optional initState? I'd appreciate for your help. https://github.com/dai-shi/react-hooks-global-state/wiki/Optional-initialState

[2019-03-17 10:47] dai-shi commented on #8
As for redux-thunk, I'd like to support it with this library. Have you looked into the example? https://github.com/dai-shi/react-hooks-global-state/tree/master/examples/08_thunk

[2019-03-17 12:04] jarlah commented on #8
@dai-shi it is definitely supported. But i didnt check this example. I just casted the thunk as any as a temp hack.

However. In the recent discussions you have been leaning strongly on type correctness. So my inevitable suggestion provide another function from the store wont go home. So what i would have done instead of doing this cast deep down in components is to override the dispatch before i

[2019-03-17 12:08] jarlah commented on #8
@dai-shi i will update the wiki if i am allowed to :)

[2019-03-17 12:40] dai-shi commented on #8
Can you do something like this for thunk?
[code]

[2019-03-17 14:12] jarlah commented on #8
given:
[code]
I get compile error, because ThunkAction is not having a type, naturally:
[code]

I looked at a redux issue, but didn't find any help there that could solve this issue.

https://github.com/reduxjs/redux-thunk/issues/103

Looking inside your lib Dispatch is `export type Dispatch<A> = (action: A) => A;` which intuitively tells me that the dispatch cast in the 08_thunk example should no

[2019-03-17 14:36] jarlah commented on #8
@dai-shi wiki done as best I could. I guess it can be improved :)

[2019-03-17 15:09] dai-shi commented on #8
Ahhh, I see. Yeah, for another reason, I've wanted to redux to have AnyAction=any...
I don't have other solutions at the moment. There should be a better way, I hope.

Thanks for the wiki. I guess it's good as a start.

[2019-03-17 15:12] dai-shi commented on #8
https://www.npmjs.com/package/react-hooks-global-state/v/0.9.0 published.

[2019-03-17 21:45] jarlah commented on #8
It works btw. V0.9.0. I am shifting focus to just using it now. Only dependency on redux now is combineReducers. Feel free to close this issue.

[2019-03-17 21:55] dai-shi commented on #8
Awesome!

[2019-03-17 21:55] #8 closed

[2019-03-17 21:57] dai-shi commented on #3
Closing this issue. Feel free to open a new one.

[2019-03-17 21:57] #3 closed

[2019-04-08 13:53] AllenFang opened #11 "About module field in package.json"
Hello @dai-shi, firstly, thanks for this awesome package, I just encounter a wired issue when I adopt this package. After deeply digging, i felt the root cause is about the ["module field in package.json"](https://github.com/dai-shi/react-hooks-global-state/blob/master/package.json#L11) probably.

The issue is when I running my application,I saw this error message:

[code]

My application stack is

[2019-04-08 23:42] dai-shi commented on #11
@AllenFang Thanks for reporting this.
I assumed that bundler that uses `module` can deal esnext, but it's not true in your case.
So, CRA is fine, but not for next.js. Let me take some time to investigate it and deal with it.

Meanwhile, you can import `dist` directly. Hope it helps for your use case.
[code]

[2019-04-09 02:03] AllenFang commented on #11
oh, I forget I can do it 😄

Anyway, thanks your reply,  you can decide to close this issue anytime.

[2019-04-14 03:23] dai-shi commented on #11
See also: https://github.com/zeit/next.js/issues/706

I'd like to keep "module", unless we find a better way.

[2019-04-14 03:23] #11 closed

[2019-05-01 19:41] otaviobps opened #12 "Can't get updated state"
I followed some examples and tried to implement the global state. On any first page load, I want to call my back end and get some data. So in my App.js file I used `useEffect` to call a function to update the state:

[code]

I debugged and I know that everything works right and the state is updated. However, on the page load, instead of accessing the updated state, I get my initial state.

Here is

[2019-05-01 23:33] dai-shi commented on #12
It is because `updatesRates` is called before `GlobalStateProvider` is initialized.
Can you move useEffect in components under GlobalStateProvider?

I'm not sure how we can resolve this in general. Basically the use of `setGlobalState` is not recommended in this case and I'd use `const setRates = useGlobalState('rates')[1]`.

[2019-05-02 15:16] otaviobps commented on #12
I tried moving it to the `Routes` component. It runs fine, however the same problem happens.

I didn't understand what you meant with `const setRates = useGlobalState('rates')[1]

I tried to follow the fetch and onmount examples, but it didn't work

[2019-05-02 22:51] dai-shi commented on #12
Sorry. There might be something I misunderstand.
Could you provide a codesandbox to reproduce the problem please?

https://codesandbox.io/s/github/dai-shi/react-hooks-global-state/tree/master/examples/05_onmount
This example without modification is working for you, correct?

[2019-05-03 14:27] otaviobps commented on #12
Yes: https://codesandbox.io/s/82kyyqw98j I just hard coded the setRates, because I won't integrate my API in codesandbox. But it replicates the issue.

I didn't try it, however I based my implementation using this one.

[2019-05-03 15:09] dai-shi commented on #12
@otaviobps Thanks for the code.

It's nothing to do with initialization which I mentioned in the first comment.

It's simply the usage of `setGlobalState`. The correct one is the following:
[code]

----

This is what I mean.
[code]

But, this will trigger re-render if `rates` or `loading` in state is changed.
So, `setGlobalState` would be better for performance. (My recommendation in the first com

[2019-05-21 02:10] vans163 opened #13 "react hot load doesnt work"
Using react hotloader
[code]

Does not work, is there a way to get it to work without having the state reset every time a hotoad happens?

[2019-05-21 02:15] dai-shi commented on #13
https://github.com/gaearon/react-hot-loader/issues/1088
I hope they are working on it.

[2019-05-21 13:13] vans163 commented on #13
Thats unrelated AFAIK, that's for compile errors (that got fixed) + local component hooks which act as local component state, which does not work regardless.

Global hooks via react-hooks-global-state work more like Redux here, and need a shim for the Hot Loader I would assume.

[2019-05-21 13:24] dai-shi commented on #13
Oh, I see your point. Sorry about that.

So, local state doesn't work on hot reload?

[2019-05-21 13:31] vans163 commented on #13
Ahh so I am a little new to ES6, but I put the state into its own module (same like example 11 deep does it, example 1 I was using is incorect), and it seems to work as long as I do not hotload the state.js file itself.  Which is good enough I guess.

[2019-05-21 13:32] vans163 commented on #13
Actually this works "good enough" but if you have more complex state.js, such as with reducers or import reducers, itl wipe the state clean each hotload, so many a better fix needed, leaving it out.

[2019-05-21 13:49] dai-shi commented on #13
So, I reproduced the issue locally. What I experienced is that it doesn't reset the count, but the button no longer works. I need to dig into it. 🤔

[2019-05-21 14:25] dai-shi commented on #13
Interesting, I'm only guessing what react-hot-loader is doing, but it keeps hook state (as in useState). This library stores `globalState` outside of the hook state, and needs to be sync.

[2019-05-21 14:38] dai-shi commented on #13
@vans163 Can you try if #14 fixes your case?
It's not published in npm yet, you can install from github.
[code]

[2019-05-21 14:39] dai-shi commented on #13
Here's the code I tried:

[code]

[2019-05-22 03:29] vans163 commented on #13
seems I had same problem. state gets wiped? Not sure maybe I did not purge old packages propely but my package.json says now `"react-hooks-global-state": "github:dai-shi/react-hooks-global-state#trick-hot-loader",`

[2019-05-22 03:36] vans163 commented on #13
This patch made things even worse actually. Now when I keep state in a seperate module, it wipes the state clean if I hotload any part of the app.

[2019-05-22 03:52] dai-shi commented on #13
Hmmm, can you share reproduction code?

[2019-05-22 03:54] vans163 commented on #13
[code]

[code]

[2019-05-22 04:07] dai-shi commented on #13
I needed to delete this line,
[code]
but if I remove it, it just works. Can you confirm the environment? Are you using the patched react-dom?

[2019-05-22 10:32] dai-shi commented on #13
Here's almost how I did:

1. npx create-react-app example-app
2. cd example-app
3. npm run eject
4. npm install --save-dev react-hot-loader
5. *edit* config/webpack.config.js
6. npm install dai-shi/react-hooks-global-state#trick-hot-loader
7. yarn add react-dom@npm:@hot-loader/react-dom

[2019-05-22 14:46] vans163 commented on #13
Right I see, but if you dont rerender does hotloader still update the react components?

[2019-05-22 15:52] dai-shi commented on #13
Do you mean if you edit a file, the component is update in browser? Yes.

[2019-05-22 17:40] dai-shi commented on #13
@vans163 I made a full reproduction. Please give it a try.
[hot-load-example.zip](https://github.com/dai-shi/react-hooks-global-state/files/3208558/hot-load-example.zip)

----
Not quite sure, but this small example seems working without the patched react-dom.
I might misunderstand something.

[2019-05-23 14:20] vans163 commented on #13
Your example works. I see, you seperate index.js and App.js.

[2019-05-23 14:44] dai-shi commented on #13
Does this fix your example too?

If you are ok with this, I'll publish a new version.

[2019-05-24 13:57] vans163 commented on #13
This fixes it if I do exactly as your example. And put render inoto index.js not App.js, which is the correct way to do it anyways.

[2019-05-24 15:06] #13 closed

[2019-05-24 15:21] dai-shi commented on #13
Published: https://www.npmjs.com/package/react-hooks-global-state/v/0.10.0

@vans163 Thanks for your contribution!

[2019-05-24 17:02] vans163 opened #15 "getState for non-redux version"
There is no getState for createGlobalState (the one you use without redux).

So its not possible to get the state inside a non-react functional component without write this hack.

[code]

[2019-05-24 18:13] vans163 opened #16 "possible race condition on initial load?"

[2019-05-24 18:27] vans163 commented on #16
This is weird mutability issue, had to use ... spread and not Object.assign.

[2019-05-24 18:27] #16 closed

[2019-05-24 19:32] vans163 opened #17 "setGlobalState cannot be called during first render?"
It seems if I call during the first render setGlobalState, it does not proc. But useGlobalState works.  Maybe setGlobalState gets queued until the end of render, in which case I need to set something before render is done.

[2019-05-24 21:06] dai-shi commented on #17
Oh, good catch. Let me see...

[2019-05-24 21:26] dai-shi commented on #15
Hm, but why do you want a copy of global state?

This library by design doesn't expose entire global state.
The apis are only allowed to access a part of global state by a property name.
getState by createGlobalStore is just an exception to mimic Redux.

Oh, I may misunderstood. You want to read state outside react like `getGlobalState('login')`.
It sounds like you want something like Redux middle

[2019-05-24 21:42] dai-shi commented on #17
Yeah, it's queued. Thought it shouldn't be a problem because we don't expose state like `getGlobalState`, ...until I saw your hack in #15.
`setGlobalState` was added later to the API, which I now think, in a bad manner. It's easy to break things.

Could you let me know your use case when you need to setGlobalState on startup?

----
And I realize a possible bug in the case of createGlobalStore. 😱

[2019-05-24 23:28] #17 closed

[2019-05-24 23:31] dai-shi commented on #17
The queuing was the bad idea of mine. Fixed now.
It should work both with `setGlobalState` and `dispatch`.
The test code was also added.

About reading global state, let's continue discussion in #15.

[2019-05-24 23:37] dai-shi commented on #17
Published: https://www.npmjs.com/package/react-hooks-global-state/v/0.11.0

There might still be some edge cases, especially with react-hot-loader.
Feedback is welcome.

Thanks again! @vans163

[2019-05-25 13:48] dai-shi commented on #17
Correction: It's not bad, but it has to be used carefully. The API doesn't force it and there's no good document.

[2019-05-26 01:53] vans163 commented on #15
How would you handle a function like:

[code]

useGlobalState does not work here, as this is not a react component.  I simply exported getState + write a getState/1, and it works great for me. So I can do now..

[code]

[2019-05-26 02:08] dai-shi commented on #15
How would you call this? If this were called from `useEffect`, you could pass a state as a argument.

I really hesitate exporting `getState` which is likely to be misused, but at the same time I do understand without it, we are not providing the same-level api as `createStore` can do with middleware.

I would like to understand your use case: apiCall not triggered by useEffect but needs to read st

[2019-05-26 04:18] dai-shi commented on #15
Hm, interesting:

https://twitter.com/dai_shi/status/1132427865654349825

The moment after I start thinking about the design again, it seems to me that one of the values of this library is actually "keeping a copy of global state" outside of React. That would only allow us to use Redux-like middleware. And it would rather make sense to provide the same API for `createGlobalState`.

Let me try limi

[2019-05-26 05:57] vans163 commented on #15
"How would you call this? If this were called from useEffect, you could pass a state as a argument."

Calling it from ANYWHERE is broken (even inside a component).  It does not work.

[2019-05-26 06:11] dai-shi commented on #15
I was thinking about re-designing to be more hook-friendly, but gave up for now.

For now, the best is to add `getGlobalState`. Two things to note.
- needs to pass `name`.
- can't use inside render.

Please try it and let me know how it works or not.

[2019-05-26 06:24] dai-shi commented on #15
To be clear, my recommendation of this library is `createGlobalState`, and `createStore` is only an option for people who would really want it. So, your feedback is valuable for me.

I'm curious, in this example, do you have a component render with `last_query`? Otherwise, I wouldn't put in the `globalState`, but just keep in a variable.

[2019-05-26 14:39] vans163 commented on #15
I use a differential state system.  The backend always sends the frontend the updated state via WebSockets.  So state does not soley start/end at the frtontend for me, I have responsive realtime state between multiple sessions (if same user) across different computers, as soon as 1 user updates something, all users must get the update immediately.

The simplest way to achieve this for me and to pr

[2019-05-29 23:02] dai-shi commented on #15
@vans163 Haven't had a chance to try #18? Just pinging you to see if you are still interested in it. No rushing.

[2019-05-30 03:52] vans163 commented on #15
Ah let me try it.  So getWholeGlobalState() to get all state, and getState(key) for keyed?

[2019-05-30 04:19] dai-shi commented on #15
Actually not. Only exported for createGlobalState is getGlobalState(key).

[2019-06-06 18:17] vans163 commented on #15
Is it possible to export both? Just for utility? Give a person a swiss army knife, not a fork, a knife, and scissors as 3 separate objects.

Also does any branch have these changes?

[2019-06-06 21:39] dai-shi commented on #15
In short, I would only export keyed API.
If someone really need a whole object, one can do the following:
[code]

This is a bit of extra work, and one should use `useGlobalState(key)` whenever possible.

----
What's important here is that the fact that this library uses `observedBits` is an implementation detail,
and React may drop this API at any time. If it's simply dropped, I would change the i

[2019-06-07 02:33] vans163 commented on #15
The problem with useGlobalState again is, it only works inside react components.  Maybe I am missing the correct way to create a root level store like redux does, due to my lack of react skills.

[2019-06-07 02:46] dai-shi commented on #15
@vans163 Oops, sorry. I meant `getGlobalState(key)`.

[2019-06-07 13:12] dai-shi commented on #15
Anyway, let's merge #18.

[2019-06-07 13:12] #15 closed

[2019-06-07 13:17] dai-shi commented on #15
https://www.npmjs.com/package/react-hooks-global-state/v/0.12.0

[2019-06-09 03:20] dai-shi commented on #12
Closing this for inactivity. Feel free to reopen it.

[2019-06-09 03:20] #12 closed

[2019-06-09 20:24] vans163 opened #19 "Race condition is back on setState"
So I started using a 3rd party api that loads side by side the initial render.  When setGlobalState is called, the first render does not notice the state was changed.

A second forced render a second later, picks up on the change. Something is making observableBits crap out, and I am not sure I could easily replicate this.

Is there anywhere in the code here, if setState gets called, it wont rende

[2019-06-09 22:47] dai-shi commented on #19
Oh, yes. Maybe, it isn't clear enough in README. But, that's the base idea of this library.
All fields be must be provided in createGlobalState and even in createStore.
It's quite different from Redux, and it's more like multiple contexts. Ref: [my recent blog](https://blog.axlight.com/posts/four-patterns-for-global-state-with-react-hooks-context-or-redux/)

In TypeScript, it will clearly show a c

[2019-06-09 23:07] dai-shi commented on #19
@vans163
[code]
It can be just `null`. Hope it work for your use case.

[2019-06-10 00:05] vans163 commented on #19
can be closed, thanks.

[2019-06-10 00:09] #19 closed

[2019-06-15 03:53] wcisco17 opened #21 "Multiple states and reducers"
I have 2 files as of right now and both of them have different initialState and reducers, but I've been having some trouble combining them into one

state.ts

[code]

It's showing up as undefined when I try to run the counter is there anyway to combine them together?

[2019-06-15 04:25] dai-shi commented on #21
It looks OK at first glance...
Could you create reproduction in codesandbox?

[2019-06-15 06:49] wcisco17 commented on #21
Here I'm running into this error trying to combine multiple state:

[code]

https://codesandbox.io/embed/spring-framework-rinu8?fontsize=14

[2019-06-15 06:50] wcisco17 commented on #21
By the way, love the library! You did a really good job making it super simple.

[2019-06-15 07:27] dai-shi commented on #21
The error message means the (combined) state doesn't have `counter` property.

https://codesandbox.io/s/trusting-ganguly-briq8

Here's the fixed version. Apart from typing, two major notes:

- when using `combineReducers`, it needs to specify default state in reducer.
- `useGlobalState` has to be used **inside** of `<GlobalStateProvider>`

For the latter, I will think about if I can show a better

[2019-06-15 08:12] wcisco17 commented on #21
Thank you so much!

[2019-06-15 08:54] #21 closed

[2019-06-15 09:57] dai-shi commented on #21
Published: https://www.npmjs.com/package/react-hooks-global-state/v/0.14.0

[2019-08-16 04:44] piggyman007 opened #22 "shall we setState like native hook?"
shall we setState like native hook?

e.g.,` setData(newData)` instead of

`setData(v => newData)`

[2019-08-16 04:52] dai-shi commented on #22
Yes, both are possible.

https://github.com/dai-shi/react-hooks-global-state/blob/7b2f10083fe842ed0b44fd6d2a4333efe9126811/examples/01_minimal/src/index.js#L17

https://github.com/dai-shi/react-hooks-global-state/blob/7b2f10083fe842ed0b44fd6d2a4333efe9126811/examples/02_typescript/src/Counter.tsx#L10

[2019-08-16 15:20] piggyman007 commented on #22
Thanks for the response.
I have added more example in the readme file, please merge my PR.
@dai-shi

[2019-08-17 09:07] dai-shi commented on #22
Merged. Thanks. Look forward to more feedbacks.

[2019-08-17 09:07] #22 closed

[2019-09-12 04:18] dai-shi commented on #8
https://github.com/dai-shi/react-hooks-global-state/blob/a93c1979bdaa8afd3ace0b0dbf4fa3bc24c12957/src/index.d.ts#L52l-L66
This is probably better typing with function overload.

[2019-09-17 03:32] tgrrr opened #25 "Add saga example"
Big fan.

Could we add an example of how to run with Sagas?

In particular, I'd just like to cover:
- side effects (eg. updating asyncronous data fetching),
- ideally with middleware

[2019-09-17 03:39] dai-shi commented on #25
Please give it a try.
Honestly, I'm not sure how it goes.
The way this library works is just **mimicking** Redux to some extent,
so there's no guarantee that all Redux libraries/tools work.

[2019-09-24 15:57] Slessi opened #26 "getGlobalState should not be used in render"
Hi, receiving the following in a situation I don't think I can do anything about

My App.js:

[code]

Here I pass `ApolloClient` as a prop for the [react-apollo](https://github.com/apollographql/react-apollo) context. I import this client from a separate file. Part of creating the client includes creating an object with a callback which in my use case, needs access to a global state item.

[code]

[2019-09-24 22:07] dai-shi commented on #26
Hm, interesting. The fact that you are using `getGlobalState` and react-apollo invokes `setContext` in render means the value is not reactive but it reads the value passively.

I'm not sure how your code works entirely, but if it doesn't require the reactivity, it wouldn't be good to use the global state. How about defining the variable externally?
[code]

If this doesn't work, there must be some

[2019-09-24 22:26] Slessi commented on #26
@dai-shi I store information about the currently authenticated user and set headers for API requests in the link. I use the reactivity inside the app to change view information but I also need the value in the link to authenticate with API

[2019-09-24 23:03] dai-shi commented on #26
@Slessi Your use case seems totally making sense. On a second thought, I can't think of any other solutions than removing the warning. Let me work on it in a minute.

[2019-09-24 23:15] #26 closed

[2019-09-24 23:22] dai-shi commented on #26
Published! https://www.npmjs.com/package/react-hooks-global-state/v/0.15.0

Thanks for your contribution!

[2019-09-25 07:22] Slessi commented on #26
Thanks for your library :)

[2019-10-15 06:07] pranav-xx opened #29 "Error calling createStore (Typescript 3.6.4)"
While calling createStore, getting following error

[code]
Note I am using Typescript version 3.6.4

I know this used to be an issue below Typescript 3.3. But it was fixed as stated in change logs. https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#typescript-33

[2019-10-15 07:39] dai-shi commented on #29
Hm, that wouldn't be nice.
@pranav-xx Could you create a reproduction in codesandbox?

[2019-10-22 02:32] dai-shi opened #30 "Question: how do developers use this library?"
Hi, I would like to ask how people use this library.

Honestly, I would like to drop some features of this library eventually before hitting v1.
It will not happen soon. I will probably wait and see how `observedBits` is kept or not in React 17.

My two concerns are:
1. Redux DevTools support is very limited
2. Redux middleware support is very limited

I would suggest the following paths to my oth

[2020-01-10 09:20] Shaquu opened #32 "Please add CHANGELOG for 0.17.0"
Hi,
Thanks for working on that library.
I see you released new version.
Please add changelog on version 0.17.0

[2020-01-10 09:23] dai-shi commented on #32
Oops, sorry. I have a local commit that wasn't pushed. It's pushed now. Thanks for the notice!

[2020-01-10 09:23] #32 closed

[2020-01-15 09:21] Slessi opened #33 "getGlobalState loses sync with useGlobalState after 0.17"
After updating to `0.16` -> `0.17`, `getGlobalState` returns the old state value after a change. `useGlobalState` seems fine

[2020-01-15 10:25] dai-shi commented on #33
Thanks for reporting. I will take a look. It can be tough.

[2020-01-15 12:39] dai-shi commented on #33
@Slessi I tried to make a failing test in #34, but it doesn't fail. Any insight? Is it easy for you to reproduce the problem?

[2020-01-15 14:50] dai-shi commented on #33
I think I get it now. 8565e67c217bcb83caa1dac98b616e8c0e77b665
You are likely to `getGlobalState` in callback or where you update the value.
Yeah, there's a delay. In that sense, v0.17 has a breaking change.

Would you tell me your use case? I'd like to see if/how we can solve or mitigate it.

[2020-01-15 15:00] Slessi commented on #33
@dai-shi has been trimmed down a bit, but basically:

1. `useGlobalState` updates due to a change
2. `AppLayout` is loaded
3. `useQuery` hook runs but the client still has old value in state
4. API Error

[code]

[2020-01-15 15:25] dai-shi commented on #33
Thanks! I totally understand how this is happening. Please give me some time for this. This is tricky...

[2020-01-16 12:29] dai-shi commented on #33
@Slessi So, here's bad news for your use case.

First of all, it's all fine with React Sync Mode and v0.16.

v0.17 is for React Concurrent Mode. #31
state branching is a behavior in CM, where React renders a component tree concurrently.
With state branching, the state value will not be fixed until React committed it.

Now, I can only think of two options (apart from using v0.16) for your use case.

[2020-01-23 04:16] dai-shi commented on #30
https://github.com/dai-shi/react-hooks-global-state/pull/35
Just started working toward v1. We no longer use context and `observedBits` but still provide the same hooks API.
Closing this.

[2020-01-23 04:16] #30 closed

[2020-01-23 14:36] dai-shi commented on #29
Closing this issue as stale.

Feel free to reopen this if the problem persists, hopefully with reproduction.

It's known that typing with createStore has some limitations. Contributions by TS experts would be appreciated.

[2020-01-23 14:36] #29 closed

[2020-01-23 15:38] dai-shi commented on #33
With #35, the new release is v1.0.0-alpha.1.
This version allows to opt-in CM support,
so if you use it normally, it should work like v0.16.0.

Note the new version includes a BREAKING CHANGE and there is no GlobalStateProvider.

@Slessi Hope it works with your use case.

[2020-01-24 23:02] dai-shi commented on #33
#34 reopened.

[2020-01-24 23:08] #33 closed

[2020-02-14 09:47] hug0b opened #37 "How to use Redux Devtools Extension"
The README specifies

But I am not sure how to connect it to the store, could you provide an example ?

[2020-02-14 09:52] dai-shi commented on #37
Currently, there's only one example. Please check out `examples/08_thunk`.

[2020-02-14 10:05] #37 closed

[2020-03-16 07:42] dohomi opened #40 "comparison to react-tracked and initial values for a state"
Hello,

I'd like to know about the difference between `react-tracked` and react-hooks-global-state. I am using your package and just thought I'd like to know the differences.

One thing I have in mind: I am using your package to set a global `settings` object coming from a headless CMS. I use NextJS and the `settings` being received from the server through `getInitialPageProps`. Now I'd like to ma

[2020-03-16 08:36] dai-shi commented on #40
Hey, thanks for asking. Actually, it's a very good question. There are two aspects.

### API

react-hooks-global-state offers the property-based accessor `useGlobalState(name)` where `name` has to be a property (string).

react-tracked provides `useTrackedState` which is a unique API with "state usage tracking". It will track the state object usage in deep (even nested objects are tracked) and onl

[2020-03-17 02:43] dohomi commented on #40
@dai-shi thanks for your detailed answer. I just started using setGlobalState and getGlobalState on my `index.tsx` file to fill my global state settings with its values. As the settings will never change once being set i just simply proof if the state changed through getGlobalState
[code]
this seems for me the right way to do it. Is it safe if the settings is being a very huge JSON object? I just

[2020-03-17 03:21] dai-shi commented on #40
Yes, it is safe. It's just like a JS global variable.

Yeah. The only concern is what you give for the initial `settings` value and how a component renders with it before it gets the final `settings` value.

---

[code]

Although this works, I wonder if there's a better way. What would you provide initial date to `createGlobalState`? Isn't it straightforward to check the existence outside of this

[2020-03-17 03:27] dohomi commented on #40
@dai-shi this is my component structure:
[code]
I guess the order and component structure matters. But as my initial index.tsx receives the settings as props and sets immediately the global state the child component has already the correct value on initial first render as far I could see.
The best would be if `createGlobalState` might be called on the initial first render inside index.tsx but not

[2020-03-17 04:13] dai-shi commented on #40
`createGlobalState` must be called outside render.

Neigher `update` nor `setGlobalState` can't be called in render. (React 16.13 will warn it.)

I'm not very familiar with Next, but what's the normal/recommended usage in your use case in Next? Using useEffect? What you could do is calling `setGlobalState` inside [getInitialProps](https://nextjs.org/docs/api-reference/data-fetching/getInitialProps

[2020-03-17 05:14] dohomi commented on #40
@dai-shi as the index.tsx is the parent component of all files it seems to work fine as long I don't make use of the GlobalState variable in the index.tsx file. I make use of the `settings` prop in 42 files so I thought it might be smart to keep it as a local variable rather passing it on inside of props all the time. Not sure if I am breaking out of React with this approach though..

[2020-03-17 05:32] dai-shi commented on #40
Hm, if `index.tsx` is the root component and you get `settings` as a prop, it might fit well to use the native React context. Have you considered that?

[2020-03-17 05:37] dohomi commented on #40
@dai-shi fair point, I am doing that for some other vars. I think for now I stick to the use of the settings as props as I did it already that way and will continue using GlobalState for things like left/right navigation drawer opening state and so on. It was a good learning process though, the get/set outside of react is definitely a nice way for me setting global vars and re-use their value in R

[2020-03-17 05:37] #40 closed

[2020-03-17 05:41] dai-shi commented on #40
You are welcome!

[2020-04-15 06:39] Temirtator opened #41 "Error: You cannot use <GlobalStateProvider> more than once."
![image](https://user-images.githubusercontent.com/10742084/79305672-a6efde00-7f15-11ea-9e4c-885f9485c98d.png)

1. This case happened, when user closing application but application living in back process
2. Open, for example: whatsapp or any other app
3. And then open my application again
But its not always... for some reason, i dont know
Thanks !!!

[2020-04-15 07:15] dai-shi commented on #41
Thanks for reporting. I'm not sure why it happens either, but it means somehow GlobalStateProvider is used twice.
Please note that the latest version v1.0.0 (and the next version v2.0.0) doesn't have GlobalStateProvider anymore.

[2020-04-15 07:26] Temirtator commented on #41
@dai-shi wow, thanks cool. when i can check next version?

[2020-04-15 07:36] dai-shi commented on #41
Which version are you using now? I recommend upgrading to v1.0.0 at this point. API has breaking changes from v0.x, but it should be easy to migrate.

v2 is coming with newer React version and is not ready (and is not working fully yet, PR here #38)

[2020-04-15 08:30] Temirtator commented on #41
I have version ^0.16.0.

Ok i'll check to 1.0.0

[2020-04-15 09:08] Temirtator commented on #41
@dai-shi i updated the library, so after week, if there's no any errors, i will close issue

[2020-04-23 19:08] rimsila opened #42 "How to separate reducer and Action Type then call it to combineReducers (Ex: 07_middleware)"
========= state.ts =============
 I'm new in TS and now I got error type in logger and reducer . Can you have an example about separate reducer thanks you.
`import { Dispatch } from 'react';
import { applyMiddleware, combineReducers } from 'redux';
import { createStore } from 'react-hooks-global-state';
import { ActionCounter, initialStateCounter, countReducer } from './counter';

const initialSta

[2020-04-23 21:08] #42 closed

[2020-04-23 21:15] rimsila commented on #37
@dai-shi  I can't use it in Next JS. It say windows of undefined.

[2020-04-23 22:01] dai-shi commented on #42
Did you already solve it?

[2020-04-23 22:06] dai-shi commented on #37
@rimsila Thanks for reporting it. I would need someone to help with this.
Note: the devtools support is pretty hacky and limited. It might not work in some complex cases. But, the `undefined` error could be fixed.

[2020-04-23 22:52] rimsila commented on #42
Yes, I did I just spread the state to one object but I think it not correct one.Do you have some examples about separate multiple state. Thanks you

[2020-04-23 23:12] dai-shi commented on #42
As far as I understand, separating a state is not an issue in JS. It's only about types in TS, right?
The combineReducers type defined in DT is probably not compatible with react-hooks-global-state or even with React.

If there's no nice solution, I would do something like this:
[code]

If you could make a codesandbox example, I could try fixing with it.

[2020-04-26 10:27] #41 closed

[2020-06-04 07:39] Temirtator opened #43 "Offline saved data"
https://github.com/dai-shi/react-hooks-global-state/wiki/Persistence

is there any example for React Native here? And if not, then i think it would be great feature for this library.
Thanks.

[2020-06-04 07:52] dai-shi commented on #43
Hi, I wish somebody helps on it. Some quick questions:
1. Do you mean to use AsyncStorage in RN?
2. If the write operation is async, do you think the store should hold the old value or the new one while the async operation is in process?

[2020-06-04 08:10] Temirtator commented on #43
@dai-shi
1. In 2nd example, there is localStorage(similarly i can use AsyncStorage), but this is not good practice. Im think about, if there's any possibility to do something like redux-offline but based on react hooks without redux.

2. New one

Actually, i need this feature to save my incomplete requests because of bad internet, so i could send them later.

[2020-06-04 08:22] dai-shi commented on #43
I see.

Could you elaborate what is not good practice and how redux-offline works for it?

Thanks. I think this would be a good discussion to come up with an idea / a suggestion.

[2020-06-04 09:10] Temirtator commented on #43
There is case, when i need to save many files, at least 200 or 300 files. The read/write operations are quite slow compared to any other storage systems. AsyncStorage doesn’t offer any offline Capability unless you bind it with another full-scale database like SQLite, or Realm.
https://www.simform.com/react-native-database-selection-guide/#5

Also, found out that redux-offline uses, redux-persist

[2020-06-04 09:14] Temirtator commented on #43
@dai-shi  Maybe, u can bind library with sqlite database for persistence of data?

[2020-06-04 11:21] dai-shi commented on #43
saving to database asynchronously would be relatively easy.

[code]

One caveat is saving the data from somewhere else will lead inconsistency.

[2020-06-05 05:09] Temirtator commented on #43
Hello @dai-shi , i found out problem with getting saved data
[code]

here's initialStringFromStorage is promise, not string

[2020-06-05 05:23] Temirtator commented on #43
Also
[code]

[2020-06-05 05:54] dai-shi commented on #43
It's fine, unless you need to deal with possible errors.

Yeah, you can't take the same approach for async.
What I would imagine is something like this.

[code]

BTW, in v2, we will provide a new API which doesn't require the forEach above.

[2020-06-05 05:58] Temirtator commented on #43
thanks for answer, new feature would be nice

[2020-07-26 17:21] natew opened #47 "Be able to access multiple state keys with a single hook"
I know this would change the library quite a bit, but I'm in search of a decent state system that would let me build my own state abstraction, and since you've spent so much time thinking about and working with concurrent mode, I'd prefer to lean on something that's been tested thoroughly.

You can see me explaining it [here](https://github.com/facebookexperimental/Recoil/issues/451) and better ex

[2020-07-26 22:05] dai-shi commented on #47
Hi, I don't fully read your issues in Recoil repo, but here's some comments for discussion and clarification.

There are many aspects in CM. What I'm concerning is "tearing" and "state branching". react-hooks-global-state doesn't support state branching, because it's an external store. (I tried a hack in v1 but will drop it in v2.)

[code]

This style is pretty hard for CM. You would need a custom

[2020-07-27 05:48] natew commented on #47
Ah, should have found use-atom, I had even ran across it before. I’ll give
it a try.

In practice I wouldn’t use store.x = 1 I’d have the preferred default be to
enforce having it behind a function.

And yea using a proxy. And have seen the guide, it’s great. Will let you
know how it goes.

[2020-08-20 22:13] k-patton opened #48 "Mocking useGlobalState with jest?"
Hi, I was wondering if anyone has a way to mock this store for testing purposes? I have a page that renders differently depending on the contents of the store. I'm currently using jest and RTL. Thanks!

[2020-08-20 23:19] dai-shi commented on #48
Hi, that's a good question. I'm not super experienced with mocking, so I wish someone else would jump in this topic.

What I would imagine is to a) mock the hook at module level, or b) use another createGlobalState for testing.

[2020-08-25 21:35] k-patton commented on #48
Hi so this might not work for every scenario, but in this case I was overthinking it. I was able to get the tests I needed by just setting the global state to my test values right in the beginning of my test. It's a "set" not a "mock" but it works.

[2020-08-25 21:36] k-patton commented on #48
On another testing note, has anyone heard of a way to see the current state of the store? Kind of like redux dev tools?

[2020-08-25 21:57] dai-shi commented on #48
It does support redux devtools with `createStore`.
https://github.com/dai-shi/react-hooks-global-state/blob/0ae0dd399ee467bff1f30d791a559ac06ae5727d/examples/08_thunk/src/state.ts#L62
It should work for basic functionality.

----

Speaking of devtools, I maintain another library [zustand](https://github.com/react-spring/zustand) which is similar to react-hooks-global-state, but more flexible (beca

[2020-08-25 22:05] k-patton commented on #48
First, thank you so much for all your prompt answers! Do you know if can use the dev tools with `createGlobalState` as opposed to `createStore`?

[2020-08-27 03:16] gary-menzel commented on #48
@k-patton I have exposed the `getGlobalState` and `getState` at the `window` level - so I can actually call `window.getGlobalState()` (for example) and see a console log of things.  You could use those to create your own `dev` panel in your application as well.  Kent Dodds has some interesting examples of using his `testing-library` for doing things like that... https://kentcdodds.com/blog/make-yo

[2020-08-27 03:18] gary-menzel commented on #48
also - we have just taken a similar approach in our Jest testing.

We actually wrap a lot of functions in an "api" - including the `useGlobalState` - so we can initialise the global state with anything we want in our tests (including using all our default state).

[2020-09-27 17:21] gremo opened #49 "Restoring initial state from localStorage, if any?"
Hi, first thanks for this great library!

I'm sharing a global state between components, exporting from the `globalStage.js`:

[code]

I'm wondering... how to restore the initial state from the `localStorage` object using `createStore`?

[2020-09-27 21:47] dai-shi commented on #49
hi, `createStore` exposes `setGlobalState`, so you can use it to set something from anywhere.

[code]

Another way is to initialize `initialState` with localStorage data.

Hope it helps.

[2020-09-27 21:51] dai-shi commented on #49
Actually, there's an example: https://github.com/dai-shi/react-hooks-global-state/tree/master/examples/13_persistence

[2020-09-28 08:17] gremo commented on #49
@dai-shi thanks for helping. I got the point, however there is no `applyMiddleware` function in react hooks (without using redux). Any idea how to handle the state change persistence?

[2020-09-28 08:52] dai-shi commented on #49
`applyMiddleware` is a simple function that we could create.

The `13_persistence` example is rather to emulate redux pattern.
Let me show the first one as an example, because that's something independent from redux pattern.

[code]

Notice error handling is omitted.

[2020-09-28 09:04] gremo commented on #49
Sure, I've got the point of loading and saving to local storage (also, bootstrapping from local storage). What is not clear to me is how to update the local storage every time a new action is dispatcher, that is... where to put `saveToLocalStorage` without using `applyMiddleware` from redux.

Is it just another reducer that doesn't alter the state and it just call the `saveToLocalStorage` function

[2020-09-28 09:46] dai-shi commented on #49
Oh, sorry. I see your point now. Hm, good question. Without middleware, only way to get notified is the hook. So, I'd do like this:

[code]

If dispatch is the only way to modify the state, you could also wrap dispatch (which should be better than hacking reducer.)

[code]

[2020-09-28 10:21] gremo commented on #49
I understand now, like the last approach. `enhancer `could help? I think it's undocumented....

[2020-09-28 10:37] dai-shi commented on #49
`enhancer` could help. I mean `applyMiddleware` is the function to take middleware and return an enhancer.

https://github.com/dai-shi/react-hooks-global-state#parameters-1 says `enhancer` but it doesn't tell the usage.

BTW, we also have this: https://github.com/dai-shi/react-hooks-global-state/wiki/Persistence

[2020-09-28 11:15] gremo commented on #49
So, I ended up using the following (the example you posted are relative to using a custom reducer and a custom function `getFromLocalStorage` inside the `createStore` call:

[code]

I didn't used a custom `useGlobalState` because I would need to typehint all original parameters. I still don't know which approach is better... **custom reducer vs overriding the dispatch**.

[2020-09-28 11:46] dai-shi commented on #49
Looks good. I think it's totally valid with the current API and the implementation.

Please close the issue if you don't have further questions. Thanks.

[2020-09-28 11:48] #49 closed

[2020-10-01 13:08] miaowang opened #50 "global state not preserved with Fast Refresh"
Hi, thanks for the repo. One thing that I noticed, is that the global state is not preserved with the Fast Refresh functionality. If code changes are done, then Fast Refresh kicks in to reload the UI, but in this case the global state is not preserved as I would have used useState normally. Is there a way to fix this?

[2020-10-01 13:27] dai-shi commented on #50
Hi, I think I did best for fast refresh. The examples have fast refresh enabled. (Though, it's a bit old.)
You might want to separate a store file. It's not 100% same as useState anyway.
Can you create a codesandbox and explain the unexpected behavior? It can be a known limitation.

[2020-10-05 04:31] semonec commented on #48
Hi, I have same problem, and found the way to resolve it.

In my Code...

[code]

[code]

So, my solution is like that,
**`mock that import module`**

[code]

within the test code, we can modify that state with setGlobalState

[code]

I want this will help you, @k-patton

[2020-10-15 18:04] FutureKode opened #51 "Argument of type '"cart"' is not assignable to parameter of type 'never'"
I have a NextJs project with typescript. I'm seeing the above error with useGlobalState and reducer style.

const [cart] = useGlobalState("cart") <-- Argument of type '"cart"' is not assignable to parameter of type 'never'

But I'm not sure what the problem is at it looks the same as the examples. Any ideas?

[2020-10-15 22:34] dai-shi commented on #51
Hi, I need some more information.
1. how does `createGlobalState` look like? does it initialize `{ cart: ... }`?
2. can you repro the issue without nextjs? a codesandbox repro would be nice.

[2020-10-16 08:24] FutureKode commented on #51
Hi @dai-shi

This is the relative code:

[code]

[2020-10-16 09:05] dai-shi commented on #51
It looks good...
Does removing middleware change things?
Can you repro with codesandbox?

[2020-10-16 10:35] FutureKode commented on #51
I have found the lines in my code that are causing the issue.

[code]

If I remove this code from my reducer then the errors go away

[2020-10-16 10:52] FutureKode commented on #51
@dai-shi yep sorry about that, reworked my code and the error is gone 👻

[2020-10-16 10:52] #51 closed

[2020-11-06 17:09] serhii-holovko-ss commented on #25
hey @dai-shi . I see, since your previous comment version 1 has been released. Please let me know, if this can be used with redux-saga or other async handling middleware functions.
If so, I would be thankful for some example, how to set it up.

[2020-11-06 22:09] dai-shi commented on #25
@serhii-holovko-ss Hi, v1 is stable in terms of documented API and its implementation, however, the support for redux middleware is not changed.

So, this still holds.

----

If you are interested in trying redux-saga, I can help. As a start, there's already an example with redux-thunk, so you want to check it to start with. https://github.com/dai-shi/react-hooks-global-state/tree/master/examples/

[2020-11-10 00:43] nandorojo opened #52 "Asynchronous initial state"
Hey, thanks for the awesome package.

I have a question. I'm looking to implement something similar to Redux Persist. Is there a recommended approach for something like this?

[code]

Maybe this makes more sense:

[code]

Figured I would see what you suggest.

[2020-11-10 01:00] dai-shi commented on #52
Hi, thanks for coming.

The first one won't work. The second one looks good.

Another option is to do it outside React. For example:

[code]

Hope it helps!

[2020-11-10 01:08] nandorojo commented on #52
Ah I didn't realize that `setGlobalState` was globally accessible, I was looking for that. Thanks!

[2020-11-10 01:08] #52 closed

[2020-11-10 23:18] nandorojo commented on #52
In case anyone sees this, I came up with a wrapper, `useInitialStateFromAsyncStorage`, which I use anywhere to store / get state from local storage.

[code]

I then use it like this:

[code]

The code for `useInitialStateFromAsyncStorage` is as follows:

[code]

I assume you could achieve the same with `localStorage` in place of `AsyncStorage`.

[2020-11-10 23:25] dai-shi commented on #52
Actually, we have wiki https://github.com/dai-shi/react-hooks-global-state/wiki
Feel free to add new pages.

[2021-03-14 02:53] SrBrahma opened #57 "Is it possible to change a value outside a component?"
In MobX, for example, I can change at any place a value that will cause the related components to re-render.

MobX would solve my issue, but, it's a bit of overkill, as your package is much lighter.

Is it possible to change a global state outside a component?

[2021-03-14 02:57] dai-shi commented on #57
sure, that's the whole point of this library.

[code]

[2021-03-14 03:04] SrBrahma commented on #57
Damn, haha! I was hoping to get some workaround, not a built in way.

Thanks for the quick answer, and also, for the package!

[2021-03-14 03:04] #57 closed

[2021-03-22 23:07] aminify opened #58 "Persistence with createGlobalState"
Hi, thanks for your amazing work

I was wondering if there is a good way to persist state when using `createGlobalState`?
I have seen the wiki, but the solution only applies to `createStore`.

It would be good if we could give a callback to `createGlobalState` which it calls on every update and we could set the localstorage in there.

[2021-03-22 23:41] dai-shi commented on #58
There's not a big magic behind the scenes.
If you want to add some features with `createGlobalState`, you can do at your end.

[code]

Something like this. Function composition is the way to go.

[2021-03-25 18:41] aminify commented on #58
thank you for your response, that's such a good solution.

can we add this solution to the persistance wiki page so that others can refer to it?

[2021-03-25 22:53] dai-shi commented on #58
If you confirm this solution works as expected, please go ahead and edit the wiki page.

[2021-03-26 13:26] aminify commented on #58
sure I will test it on my project and update the wiki.
is there a way to get the whole state maybe with `getGlobalState` in order to store the whole state under a specific persistenceKey rather than shallow keys?

[2021-03-26 13:37] dai-shi commented on #58
I understand why you ask, but it's intentionally hidden with `createGlobaState` to avoid overuse it. For the moment, you would need to loop over all keys at your end.

[2022-08-05 12:40] dai-shi commented on #58
v2 is released and closing this.

[2022-08-05 12:40] #58 closed

[2022-08-05 12:40] dai-shi commented on #50
v2 is released and closing this.

[2022-08-05 12:40] #50 closed

[2022-08-05 12:41] dai-shi commented on #48
v2 is released and closing this.

[2022-08-05 12:41] #48 closed

[2022-08-05 12:41] dai-shi commented on #47
v2 is released and closing this.

[2022-08-05 12:41] #47 closed

[2022-08-05 12:42] dai-shi commented on #25
v2 is released and closing this.

[2022-08-05 12:42] #25 closed

[2022-11-15 22:47] flashman2 opened #83 "How to easily reset state?"
I didn't found a way to easily reset global state to initial values.

Currently, to reset a state I need to reset each property of global state object. For a big state objects it is not an easy way. Is it possible to reset global state object with single command/function? Below is my code to reset a state.
Note: Strange, but array can be reset with new array only. Reset not works with globalStateI

[2022-11-15 23:14] dai-shi commented on #83
It's somewhat intentional to make bulk changes uneasy.
Yes, I think resetting each property is the right solution in this library.

It's probably cased by some other code mutates the array, which should be avoided.